@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h4>Are you sure you want to delete this?</h4>

<br>
<h5>@Html.DisplayFor(m => m.TreatName)</h5>

@using (Html.BeginForm())
{
  <br>
  <input type="submit" value="Delete" class="btn btn-light ButtonText"/>
}

<br>
<p class= "btn btn-light">@Html.ActionLink("Back to Treats", "Index", null, null, new { @class = "ButtonText" })</p>