div#Header {
  display: flex;
  justify-content: space-evenly;
  background-color: #01273C;
  margin-bottom: 10px;
  padding-top: 10px;
}

.HeaderText {
  color: white;
}

.ButtonText {
  color: white;
}

.ButtonText:Hover {
  color: cornflowerblue;
}

.btn {
  background-color: #01273C;
}

body {
  text-align: center;
  background-color: #fbd1a7f3;
}

h1 {
  font-family: 'Paytone One', sans-serif;
  color: #202020;;
  text-transform: uppercase;
  letter-spacing: -2px;
}

h1 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #fde2c6fb;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;
}

hr {
  border-top: 2px solid #353c4291;
}