@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Bakery!</h1>
<hr>

<br>
<p class= "btn btn-light">@Html.ActionLink("Create An Account", "Index", "Account", null, new { @class = "ButtonText"})</p>
<p class= "btn btn-light">@Html.ActionLink("See All Treats", "Index", "Treats", null, new { @class = "ButtonText"})</p>
<p class= "btn btn-light">@Html.ActionLink("See All Flavors", "Index", "Flavors", null, new { @class = "ButtonText"})</p>
