@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4>Are you sure you want to delete this?</h4>

<br>
<p>Flavor - @Html.DisplayFor(m => m.FlavorName)</p>

@using (Html.BeginForm())
{
  <br>
  <input type="submit" value="Delete" class="btn btn-light ButtonText"/>
}

<br>
<p class= "btn btn-light">@Html.ActionLink("Back to Flavors", "Index", null, null, new { @class = "ButtonText" })</p>